@font-face{
    font-family: Merriweather;
    src: url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
}
h1 {
    text-align: center;
    font-family: Merriweather;
    font-size: 50px;
    font-style: italic;
}

body {
    background-color: #808080;
    color:black;

}

input {
    font-size: 30px;
    width: 200px;
}

#orderTable {
    display:block;
    box-sizing: border-box;
    background-color: #808080;
    color:white;
    justify-content: center;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .menuItem{
      width:200px;
      height:auto;
  }